// Viewports------------------------------------------------------------
// breakpoint
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1248px;
$mobile-width-only: 767px;
// max-device-width
$max-mobile-width: 480px;
$max-tablet-width: 1280px;
$max-desktop-width: 1248px;

// Calors---------------------------------------------------------------
$white: #ffffff;
$black: #000000;

$text: #292929;
$nav-text: #2b1414;
$promo-background: #d4e9f9;
$nav-background: #f7ebe5;
$background: #f7f7f7;
$decoration: rgb(16%, 16%, 16%, 0.16);
$accent-pink: #e7426a;
$outline: #ededf0;
$accent-blue: #4e9dd3;
$accent-click: #f45d82;
$background-footer: #ebedee;
$instagram-header: rgb(31%, 62%, 83%, 0.1);
